.welcome-wrap {
    max-width: 500px;
    margin: 50px auto 0;
    padding: 40px;
    border: 1px solid #c8c8c8;
    text-align: center;
}

.welcome-wrap .welcome {
    font-size: 40px;
    letter-spacing: 7px;
    margin-bottom: 10px;
}

.welcome-wrap .desc {
    font-size: 20px;
    margin-bottom: 20px;
}

.survey-start-button {
    min-width: 160px;
}